<div class="container">
  <div class="form-box">
    <form novalidate (ngSubmit)="onSubmit()"  [formGroup]="loginForm">
      <h2><b>Sign In</b></h2>


      <div class="form-group email">
        <label for="emailId">Email Address</label>
        <input type="text" id="emailId" formControlName="email" 
        placeholder="Enter your email address"
        [ngClass]="{'is-invalid' : (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && !loginForm.get('email')?.valid}">
        <span class="invalid-feedback">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">
              Please enter your email.
          </span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">
              Please enter a valid email.
          </span>
        </span>
      </div>
      
      <div class="form-group password">
        <label for="passwordId">Password</label>
        <input  [type]="passwordVisible ? 'text' : 'password'" id="passwordId" formControlName="password"
         placeholder="Enter your password"
         [ngClass]="{'is-invalid' : (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) && !loginForm.get('password')?.valid}">
        <i id="pass-toggle-btn"  class="fa-solid "  (click)="togglePasswordVisibility()"></i>
        <span class="invalid-feedback">
        <span *ngIf="loginForm.get('password')?.errors?.['required']">
          Please enter your password.
        </span>
        <span *ngIf="loginForm.get('password')?.errors?.['invalidPassword']">
          Password must contain at least one uppercase letter, one number, one special character, and be at least 8 characters long.
        </span>
        </span>
      </div>        


      <div class="form-group ">  
        <button class="btn btn-primary mr-3 submit-btn"
            [title]="loginForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
            type="submit"
            [disabled]="!loginForm.valid" >
           Submit</button>    
      </div>
    </form>
  </div>
</div>  




